<h1> Fotos lista</h1>

<% @photos.each do |photo| %>
    <div>
        <h2> <%= photo.title %> </h2>
        <%= image_tag photo.image_url %> <!--image_tag es un helper-->
        <%= link_to "Ver más", photo %>
    </div>
<% end %>